@model Authentication.Front.ViewModel.UserVM
@{
    ViewBag.Title = "Ajouter Utilisateur";
}

<h2>UserCreate</h2>

<div class="container">
    @using (Html.BeginForm()) 
    {
        @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(m => m.Login, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Login)
        </div>
    </div>
                
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>    
        
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
        

        
    <div class="form-group">
        @Html.LabelFor(m => m.Tel, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Tel, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Tel)
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <button type="submit">Valider</button>
    </div>

    }

</div>



